/* :root{} prend à la racine html, puis créer la variable de la façon suivante pour y assigner une couleur,
 méthode pour ne pas avoir à chercher dans tt le code pour changer les couleurs.*/
:root {
    --col-wcag-bg: #9BC9F7;
    --col-banner: #0065D1;
    --text-banner:#fff;
    --table-highlight: #6d6767;
}



* {
    box-sizing: border-box;
    
}

h1,
h2,
h3 {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color:var(--col-banner);
    color: var(--text-banner);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#logo{
    width: 10rem;
    height: 10rem;
}

.tableauxprincipaux > * > tr > th{
    background-color: var(--table-highlight);
    color: var(--text-banner);
}

.tableauxprincipaux{
    width: 100%;
}

#presentation{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

main > section{
    text-align: center;
}


body {
    font-size: 1.6rem;
    margin: 0;
    
}

.menu{
    align-content: center;
    list-style: none;
}



.menu > li{
    display: inline-block;
}

.menu > li > a{
    text-decoration: none;
    color: var(--text-banner);
}
#sect-principes {
    display: flex;
    justify-content: space-between;
}

.wcag {
    width: 23%;
    border-collapse: collapse;
    text-align: left;
    background-color: var(--col-wcag-bg);
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0 1px 0.5rem rgb(46, 46, 46) !important;
}

#tabCriteres {
    border-collapse: collapse;
    text-align: center;
    border: 0.3rem black solid;
}

#conformite{
    border-collapse: collapse;
    text-align: center;
    border: 0.3rem black solid;
}
caption {
    display: table-caption;
    text-align: center;
}
th,
tr,
td {
    border: 0.2rem black solid;
    padding: 0.5rem;
}
#tabgraphique{
    border-collapse: collapse;
    text-align: center;
    border: 0.3rem black solid;

}
footer{
    padding: .5rem;
    background-color:var(--col-banner);
    color: var(--text-banner);
    text-align: center;
}
