/* :root{} prend à la racine html, puis créer la variable de la façon suivante pour y assigner une couleur,
 méthode pour ne pas avoir à chercher dans tt le code pour changer les couleurs.*/
 :root {
    --col-wcag-bg: #9BC9F7;
    --col-banner: #0065D1;
    --text-banner:#fff;
    --table-highlight: #6d6767;
}

* {
    box-sizing: border-box;
}
/* .visuel{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
}
#vis{
    display: flex;
    justify-items: center;
    grid-column: 1/2;
    grid-row: 1;
}
#tdiv{
    justify-items: center;

    grid-column: 2/2;
    grid-row: 1;

}*/
#visuel{
    display: flex;
flex-direction: row;
gap: 2rem;
row-gap: 2rem;
column-gap: 2rem;
margin-bottom: 2rem;
}

#vis,#aud,#cog,#mot{
    width: 13rem;/*largeur*/
    height: 13rem;/*hauteur*/
    glyph-orientation-vertical: 1fr;
}
div{
    glyph-orientation-vertical: 2fr;
}
#can{
    width: 20rem;/*largeur*/
    height: 20rem;/*hauteur*/
}
#brail{
    width: 20rem;/*largeur*/
    height: 20rem;/*hauteur*/
}
#voc{
    width: 20rem;/*largeur*/
    height: 10rem;/*hauteur*/
}
#tra{
    width: 20rem;/*largeur*/
    height: 20rem;/*hauteur*/
}
h1,
h2,
h3 {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color:var(--col-banner);
    color: var(--text-banner);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#logo{
    width: 10rem;
    height: 10rem;
}

#presentation{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

main > section{
    text-align: center;
}

body {
    font-size: 1.6rem;
    margin: 0;
}

.menu{
    align-content: center;
    list-style: none;
}

.menu > li{
    display: inline-block;
}

.menu > li > a{
    text-decoration: none;
    color: var(--text-banner);
}




caption {
    display: table-caption;
    text-align: center;
}
footer{
    padding: .5rem;
    background-color:var(--col-banner);
    color: var(--text-banner);
    text-align: center;
}
